bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.log
/.vs/UltimakerManager/CopilotIndices/17.13.444.19527
/.vs/UltimakerManager/copilot-chat/41bec9ea/sessions
/.vs/UltimakerManager/v17/.suo

.vs/
